<mat-dialog-content>
    ¿Seguro que desea eliminar el fichero?
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center">
<button mat-button mat-dialog-close>No</button>
<button mat-button color="primary" [mat-dialog-close]="true">Sí</button>
</mat-dialog-actions>