#edit-fichero-container {
    padding: 25px 100px 5px;
    background-color: whitesmoke;
}

#header_edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.big_input {
    width: 50%;
    font-size: 1.5em;
    display: flex;
}

.big_input .mat-error {
    margin-top: 0;
    font-size: 0.7em;
}

.busquedaNombre{
    flex: 1 1 auto;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#publicacion>div {
    margin: 15px auto;
}

.product-categories-list {
    max-height: 500px;
    overflow-y: auto;
}

#header_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#header_buttons>.center-space{
    flex: auto;
}

#header_buttons>button {
    margin: auto 11px;
    padding: 10px 31px;
}

#header_buttons>mat-icon{
    margin: auto -6px;
    color:rgba(0,0,0,.12);
    cursor: help;
}

mat-toolbar.mat-elevation-top{
     box-shadow: inset 0 3px 5px -1px rgba(0,0,0,.2), inset 0 5px 7px 0 rgba(0,0,0,.14), inset 0 1px 18px 0 rgba(0,0,0,.12);
     padding: 10px 50px;
     height: auto;
 }

#description-date{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.date-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.little_icon{
    display: inline-block;
    min-width: 38px;
    text-align: center;
}
.little_icon img{
    max-width: 22px;
    max-height: 22px;
}
.background_icon{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}