<h1 mat-dialog-title>Aviso</h1>
<div mat-dialog-content>
  <p>El archivo que intenta introducir ya se encuentra en la base de datos</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="openURL()" cdkFocusInitial>Ir al archivo</button>
  <button mat-button (click)="closeClick()">Cerrar</button>
</div>