<div id="login_form_container">
  <mat-card>
    <div *ngIf="loading">
      <mat-spinner color="accent" diameter="15" class="mx-auto" [@fadeIn]="fadeIn"></mat-spinner>
    </div>

    <div id="formulario_login" *ngIf="!loading">
      <form #formContacto="ngForm" (ngSubmit)="onSubmit()" [@fadeIn]="fadeIn">
        <div class="alert alert-danger" role="alert" *ngIf="errorSubmit" [@fadeIn]="fadeIn">
          {{errorSubmit}}
        </div>
        <mat-form-field class="input-full-width" appearance="outline" color="primary">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario" name="username" #username="ngModel" [(ngModel)]="userName" required />
          <mat-error *ngIf="username.touched && !username.valid">El usuario es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width" appearance="outline" color="primary">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="userPassword" required />
          <mat-error *ngIf="password.touched && !password.valid">La contraseña es obligatoria</mat-error>
        </mat-form-field>

        <button class="button-login" type="submit" value="Enviar" mat-raised-button color="primary" [disabled]="!formContacto.form.valid">
          <span *ngIf="!loading">Enviar</span>
          <span *ngIf="loading"><mat-spinner color="accent" diameter="15" class="mx-auto" [@fadeIn]="fadeIn"></mat-spinner></span>
        </button>
      </form>
    </div>
    <!--
      <div *ngIf="usuario_guardado==2">
      <h2 class="mat-card-title text-center">Sesión iniciada</h2>
      <button class="button-login" (click)="signOut()" value="Enviar" mat-raised-button color="accent">
        Cerrar Sesión
      </button>
    </div>
  </mat-card>
</div>
    -->
    
<!--

    <br>
    <button (click)="seeUser()">Ver usuario</button>
    <br>



    <div class="caja" style="float:left" *ngIf="usuario_guardado==1">
        <h2>Sesion No Iniciada</h2>
        <img src="{{imageSad}}">
    </div>

    <div class="caja" style="float:left" *ngIf="usuario_guardado==0">
        <h2>Cargando...</h2>
    </div>

    <div class="caja" style="float:left" *ngIf="tokenJson">
        <span>{{tokenJson}}</span>
    </div>
-->
