.caja {
    background: #ccc;
    padding: 5px;
    border: 1px solid #ccc;
    border-style: left;
}

.input-full-width {
    width: 100%;
    display: block;
    padding: 20px;
}

.button-login {
    width: 90%;
    max-width: 217px;
    display: block;
    margin: auto;
    height: 50px;
}

#login_form_container {
    width: 300px;
    background-color: blue;
    margin: auto;
    margin-top: 40px;
}