<mat-toolbar color="primary">
<span style="cursor: pointer;" [routerLink]="['/athena']">Ficheros</span>


  <!-- This fills the remaining space of the current row -->
  <span class="space-toolbar"></span>
    <button *ngIf='isLoggedIn$ | async' mat-icon-button class="icon-toolbar" (click)="refreshLocalStorage()" title="Recarga productos, categorías, marcas y fabricantes">
        <mat-icon>refresh</mat-icon>
    </button>
<button *ngIf='isLoggedIn$ | async' mat-button="" (click)='onLogout()' class="icon-toolbar">Cerrar Sesion</button>
  <!--
<button mat-icon-button [routerLink]="['/login']" routerLinkActive="active" class="icon-toolbar">
    <mat-icon>account_circle</mat-icon>
</button>

-->
</mat-toolbar>
