<div id="searchContainer">
  <div id="headerSearch">
    <div id="inputsSearch">
      <mat-form-field style="width: 300px;">
        <input type="text"  placeholder="Producto" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [attr.disabled]="dataRepository.cargandoProductos || dataRepository.cargandoCategorias ? '' : null">
        <mat-icon *ngIf="!dataRepository.cargandoProductos && !dataRepository.cargandoCategorias" matSuffix>search</mat-icon>
          <mat-spinner *ngIf="dataRepository.cargandoProductos || dataRepository.cargandoCategorias" color="accent" diameter="20" class="mx-auto" matSuffix></mat-spinner>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='productSelected($event.option.value, true)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="width: 300px;">
          <input type="text" autocomplete="off" (keydown.enter)="busquedaLibre($event.target.value,true)" placeholder="Búsqueda libre" aria-label="Number" matInput [(ngModel)]="stringBusqueda">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tipo" (valueChange)="filtroBusqueda($event)" [formControl]="selectControl" >
          <mat-option style="color: rgba(118, 118, 118, 0.87);">Todos</mat-option>
          <mat-option *ngFor="let type of types" [value]="type">
              <span class="little_icon"><img src="{{iconService.iconImage(type)}}"></span> {{type | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span *ngIf="!satUserLoggedIn"><button mat-stroked-button color="primary" routerLink="/athena/edit">Nuevo</button></span>
  </div>
  <mat-card>
    <div>
      <mat-table [dataSource]="myDataArray" matSort matSortDisableClear [matSortActive]=tableSearch.activeSort [matSortDirection]=tableSearch.directionSort (matSortChange)="onSortTableChanged($event)">
        <ng-container matColumnDef="titulo">
          <mat-header-cell *matHeaderCellDef mat-sort-header > Titulo </mat-header-cell>
          <mat-cell *matCellDef="let fichero">
              <a *ngIf="!satUserLoggedIn" routerLink="/athena/edit/{{fichero.id}}"> {{fichero.titulo}}</a>
              <span *ngIf="satUserLoggedIn" style="font-weight: bold"> {{fichero.titulo}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Versión </mat-header-cell>
          <mat-cell *matCellDef="let fichero"> {{fichero.version}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileType">
          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let fichero">
              <span [style.background-color]="iconService.iconBackground(fichero.tipo)" class="tipo_search"><img *ngFor="let so of fichero.sistemaOperativo" src="{{iconService.iconSO(so)}}"><img *ngIf="fichero.tipo!=='software'" src="{{iconService.iconImageWhite(fichero.tipo)}}">{{fichero.tipo | titlecase }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileState">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let fichero">
              <span class="estado_search"><img src="{{iconService.iconImage(fichero.estado)}}" matTooltip="{{fichero.estado | titlecase}}"><img src="{{iconService.iconImage(fichero.acceso)}}" matTooltip="{{fichero.acceso | titlecase}}"></span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fabricante">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </mat-header-cell>
          <mat-cell *matCellDef="let fichero"> {{fichero.fabricante | uppercase}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="marca" >
          <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
          <mat-cell *matCellDef="let fichero"> {{fichero.marcas}} </mat-cell>
        </ng-container>
          <ng-container matColumnDef="creacion" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Creación </mat-header-cell>
          <mat-cell *matCellDef="let fichero"> {{ fichero.fechaCreacion | date:'dd/MM/yyyy' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileDownload">
          <mat-header-cell *matHeaderCellDef> Descarga </mat-header-cell>
          <mat-cell *matCellDef="let fichero">
            <!--<a *ngIf="archivo.downloadURL!==''" mat-icon-button href="{{archivo.downloadURL}}"><mat-icon>arrow_downward</mat-icon></a>
                <a *ngIf="archivo.downloadURL!==''" mat-icon-button (click)="copyText()"><mat-icon>share</mat-icon></a>-->
            <a *ngIf='fichero.archivo["ruta"]!= ""' mat-icon-button (click)="downloadArchivo(fichero)">
              <mat-icon>arrow_downward</mat-icon>
            </a>
            <a *ngIf='(fichero.archivo["ruta"]!= "" || this.hasHref(fichero.descripcionLarga))' mat-icon-button (click)="copyText(fichero)">
              <mat-icon>share</mat-icon>
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fileCompatibles">
          <mat-header-cell *matHeaderCellDef> Compatibles </mat-header-cell>
          <mat-cell *matCellDef="let fichero">
            <!--Si tiene productos y categorías-->
            <button *ngIf="fichero.productos.length > 0 && fichero.categorias.length > 0" mat-button #tooltipCompatibles="matTooltip" (mouseenter)="$event.stopImmediatePropagation()"
                    (mouseleave)="$event.stopImmediatePropagation()" (click)="tooltipCompatibles.toggle()" matTooltip="{{'» ' + fichero.productos.join('\n» ') + '\n\n■ ' + dataRepository.categoriesIdToName(fichero.categorias).join('\n■ ')}}" [matTooltipClass]="'my-tooltip'">
              <img src="/assets/icons/compatible.png">
            </button>
              <!--Si solo tiene productos-->
              <button *ngIf="fichero.productos.length > 0 && fichero.categorias.length == 0" mat-button #tooltipCompatibles="matTooltip" (mouseenter)="$event.stopImmediatePropagation()"
                      (mouseleave)="$event.stopImmediatePropagation()" (click)="tooltipCompatibles.toggle()" matTooltip="{{'» ' + fichero.productos.join('\n» ')}}" [matTooltipClass]="'my-tooltip'">
                  <img src="/assets/icons/compatible.png">
              </button>
              <!--Si solo tiene categorias-->
              <button *ngIf="fichero.productos.length == 0 && fichero.categorias.length > 0" mat-button #tooltipCompatibles="matTooltip" (mouseenter)="$event.stopImmediatePropagation()"
                      (mouseleave)="$event.stopImmediatePropagation()" (click)="tooltipCompatibles.toggle()" matTooltip="{{'■ ' + dataRepository.categoriesIdToName(fichero.categorias).join('\n■ ')}}" [matTooltipClass]="'my-tooltip'">
                  <img src="/assets/icons/compatible.png">
              </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[10,30,100]" showFirstLastButtons (page)="onPageTableChanged($event)"></mat-paginator>
    </div>

  </mat-card>
</div>