

#searchContainer {
    padding: 10px 100px;
    margin-top: 28px;
}

#headerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#inputsSearch>* {
    margin: auto 25px;
    font-size: 1.1em;
}

.tipo_search{
    border-radius: 9px;
    padding: 5px 13px;
    color: white;
}

.tipo_search img{
    max-width: 22px;
    max-height: 22px;
    margin-right: 6px;
}

.estado_search img{
    max-width: 27px;
    max-height: 27px;
    margin: 0 6px;
}

.little_icon{
    display: inline-block;
    min-width: 38px;
    text-align: center;
}
.little_icon img{
    max-width: 22px;
    max-height: 22px;
}