/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import './lightbluetheme';

.my-tooltip {
    white-space: pre-line;
    font-size: 14px !important;
}
body{
    background-color: whitesmoke;
}

.my-tooltip {
    white-space: pre-line;
    font-size: 13px !important;
}

.my-tooltip-multiline {
    white-space: pre-line;
    font-size: 12px;
}


.icon-toolbar {
    padding: 0 14px;
}

.space-toolbar {
    flex: 1 1 auto;
}

.fullCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000038;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}